@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */
@media (max-width: 640px) {
    .hero-title {
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 768px) {
    .hero-title {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .hero-title {
      font-size: 3rem;
    }
  }
  
  

  .navbar{
    background-color:hwb(60 5% 94%);
    color:rgb(234, 232, 237);
    height: 50px;
    font-size: 30px;
  }
  
  
  navbar-buttons{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 30px;;
  }
